dtd/competitivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="jugadores">
    <xs:complexType>
      <xs:element name="jugador">
       <xs:complexType>
        <xs:sequence>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="consola" type="xs:string"/>
          <xs:element name="precio" type="xs:integer"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
    </xs:complexType>
  </xs:element>
</xs:schema>
