dtd/empleados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="empleados">
    <xs:complexType>
      <xs:element name="empleado">
       <xs:complexType>
        <xs:sequence>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="edad" type="xs:integer"/>
          <xs:element name="puesto" type="xs:string"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
    </xs:complexType>
  </xs:element>
</xs:schema>

